body {
  direction: rtl;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex{
  display:flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.field{
margin-top: 8px;
}
.box{
  max-width: 600px;
  padding: 5px;
  margin: 5px;
  border:1px solid gray;
  /*justify-content: space-between;
display: flex*/
}
.save-btn{
display: flex;
justify-content: end;
}
.add-btn{
  display: flex;
  justify-content: center;
  }
  .icons{
    display: flex;
justify-content: end;
  }